/* Fondo general de la p치gina */
.home-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2E4A24;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
   /* Limita el ancho m치ximo */
  margin: 0 auto;
}

/* Estilo del t칤tulo principal */
.home-title {
  font-family: 'Merriweather', serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  align-self: center; /* Centra el t칤tulo */
}

/* Contenedor de las tarjetas */
.videos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 15px;
  margin-top: 15px;
}

/* Estilos comunes para las tarjetas de contenido */
.video-card,
.image-card,
.document-card {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  max-width: 500px; /* Ancho m치ximo para todas las tarjetas */
  margin: 10px;
}

/* 游댮 Estilos para los VIDEOS */
.video-frame {
  width: 100%;
  height: 500px; /* Ajusta la altura para igualar a las im치genes y documentos */
  border-radius: 5px;
  border: none;
}

/* 游릭 Estilos para las IM츼GENES */
.video-image {
  width: 100%;
  height: 500px; /* Ajusta la altura para igualar a los videos y documentos */
  object-fit: cover;
  border-radius: 5px;
  margin-top: 10px;
}

/* 游댯 Estilos para los DOCUMENTOS */
.video-documento-frame {
  width: 100%;
  height: 500px; /* Ajusta la altura para igualar a los videos y im치genes */
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}

/* Mensaje cuando no hay contenido */
.no-videos-message {
  font-size: 18px;
  font-style: italic;
  color: #ccc;
}

/* Estilos para los botones de documentos */
.document-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.view-button, .download-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.view-button:hover, .download-button:hover {
  background-color: #367c39;
}

@media (max-width: 1024px) {
  .videos-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en tabletas */
  }
}

/* Media queries para celulares */
@media (max-width: 768px) {
  .home-wrapper {
    padding: 10px; /* Reduce padding para pantallas peque침as */
  }

  .home-title {
    font-size: 22px; /* Ajusta tama침o del t칤tulo */
  }

  .videos-grid {
    grid-template-columns: 1fr; /* Una sola columna para celulares */
    gap: 10px; /* Reduce espacio entre tarjetas */
  }

  .video-frame,
  .video-image,
  .video-documento-frame {
    height: auto; /* Ajusta autom치ticamente la altura */
    max-height: 300px; /* Altura m치xima para pantallas peque침as */
  }

  .video-card,
  .image-card,
  .document-card {
    max-width: 100%; /* Usa todo el ancho disponible */
  }
}